.services {
  padding: 50px 0 30px;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__title-box {
    position: relative;
    max-width: 520px;
    padding-left: 140px;

    &::before {
      position: absolute;
      content: "";
      width: 105px;
      height: 2px;
      background-color: #ffc222;
      left: 0;
      top: 11px;
    }
  }

  &__title {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #212020;
    margin-bottom: 10px;
  }

  &__text {
    letter-spacing: 0.1px;
  }

  &__btn {
    color: #373636;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 5px 35px;
    border: 3px solid #e6e6e6;
    transition: 0.3s;

    &:hover {
      border-color: #ffc222;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 360px;
    text-align: center;
    padding: 30px 0 40px;
    position: relative;
    min-height: 375px;
    background-color: #f9f9f9;
    box-shadow: 0 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
  }

  &__item-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #212020;
    font-family: "Roboto", sans-serif;
    padding: 24px 0;
  }
  
  &__item-text {
    letter-spacing: 0.1px;
    padding: 0 30px 40px;
  }

  &__item-btn {
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 40px;

    .default-btn {
      color: #373636;

      &::before {
        color: #fff;
      }
    }
  }

  &__item-link {
    color: #050505;
    font-family: "Roboto", sans-serif;
    border-bottom: 1px solid #050505;
    transition: 0.3s;

    &:hover {
      border-color: #ffc222;
    }
  }
}
