@import "default";
@import "header";
@import "slider";
@import "services";
@import "about";
@import "form";
@import "advantages";
@import "news";
@import "footer";

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Serif", serif;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5e5e5e;
}
